In [1]:
library("data.table")
flights <- fread("flights14.csv")
head(flights)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57
3  N327AA     21    JFK  LAX      351     2475   19   2
4  N3EHAA     29    LGA  PBI      157     1035    7  22
5  N319AA    117    JFK  LAX      350     2475   13  47
6  N3DEAA    119    EWR  LAX      339     2454   18  24

## 二级索引
类似主键但是不会在内存里对整个data.table重新排序，新建一个index属性计算某列顺序，一个data.table可以有多个二级索引

In [2]:
#将origin列设置为该data.table的二级索引
setindex(flights, origin)
#set2keyv(flights, "origin") 
#set2key不会对key列重新排序
#set2key(flights, NULL)会删除所有二级索引

In [3]:
head(flights)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57
3  N327AA     21    JFK  LAX      351     2475   19   2
4  N3EHAA     29    LGA  PBI      157     1035    7  22
5  N319AA    117    JFK  LAX      350     2475   13  47
6  N3DEAA    119    EWR  LAX      339     2454   18  24

In [4]:
names(attributes(flights))

[1] "names"             "row.names"         "class"
[4] ".internal.selfref"

In [1]:
#indices(flights)
## [1] "origin"

#setindex(flights, origin, dest)
#ndices(flights)
## [1] "origin"       "origin__dest"
#函数indices()返回一个data.table所有的二级索引。如果该data.table没有二级索引，那么返回NULL
#我们对 origin列,dest列创建了另一个二级索引的时候，我们没有丢掉之前创建的第一个二级索引。也就是说，我们可以创建多个二级索引。

### 目的
解决setkey主键方法的重排序费时问题

解决主键只有一个的问题，以及计算后主键会取消的问题

## 参数on

In [7]:
#subset所有origin是“JFK”的行
head(flights["JFK", on = "origin"])