In [1]:
library(data.table)

In [12]:
flights <- fread("flights14.csv")

## 主键
目的是取代不方便的行名属性

### 设置 获取和使用

In [11]:
#将 origin列设置为主键
setkey(flights, origin)
head(flights)
# setkeyv(flights, "origin")这个函数可以传入字符串作为列名
# 设置列后，默认对这个列升序排列
# 最多只能有一个主键,但是一个主键内可以有多个列名，或者说不同列可以有相同的主键
# 可以在创建data.table的时候就data.table(...,key= )

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1     1824         4     2145         0         0      AA
2 2014     1   1     1655        -5     2003       -17         0      AA
3 2014     1   1     1611       191     1910       185         0      AA
4 2014     1   1     1449        -1     1753        -2         0      AA
5 2014     1   1      607        -3      905       -10         0      AA
6 2014     1   1      949         4     1243       -17         0      AA
  tailnum flight origin dest air_time distance hour min
1  N3DEAA    119    EWR  LAX      339     2454   18  24
2  N5CFAA    172    EWR  MIA      161     1085   16  55
3  N471AA    300    EWR  DFW      214     1372   16  11
4  N4WNAA    320    EWR  DFW      214     1372   14  49
5  N5DMAA   1205    EWR  MIA      154     1085    6   7
6  N491AA   1223    EWR  DFW      215     1372    9  49

In [12]:
# 设置主键后就可以直接[.("xxx")]来subset主键列满足xxx的行
head(flights[.("JFK")])
# 这里主键的内容是str，可以省略.()，用flights["JFK"]
# 可以根据需要subset多个值 flights[c("JFK", "LGA")]

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1     1347         2     1706         1         0      AA
5 2014     1   1     2133        -2       37       -18         0      AA
6 2014     1   1     1542        -3     1906       -14         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57
3  N327AA     21    JFK  LAX      351     2475   19   2
4  N319AA    117    JFK  LAX      350     2475   13  47
5  N323AA    185    JFK  LAX      338     2475   21  33
6  N328AA    133    JFK  LAX      356     2475   15  42

In [13]:
# 查询当前主键
key(flights)

[1] "origin"

### 主键和多个列

In [13]:
#将 origin列 和 dest列 都设置为主键
# 会先按origin再按dest排序
setkey(flights ,origin, dest)

In [14]:
key(flights)

[1] "origin" "dest"

In [11]:
#subset所有满足条件 origin是”JFK”、dest是”MIA”的行
head(flights[.("JFK", "MIA")])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1     1509        -1     1828       -17         0      AA
2 2014     1   1      917         7     1227        -8         0      AA
3 2014     1   1     1227         2     1534        -1         0      AA
4 2014     1   1      546         6      853         3         0      AA
5 2014     1   1     1736         6     2043       -12         0      AA
6 2014     1   1     1641        16     1938        -7         0      DL
  tailnum flight origin dest air_time distance hour min
1  N5FJAA    145    JFK  MIA      161     1089   15   9
2  N5DWAA   1085    JFK  MIA      166     1089    9  17
3  N635AA   1697    JFK  MIA      164     1089   12  27
4  N5CGAA   2243    JFK  MIA      157     1089    5  46
5  N397AA   2351    JFK  MIA      154     1089   17  36
6  N316US    428    JFK  MIA      156     1089   16  41

In [12]:
#subset所有仅仅满足条件dest是”MIA”的行
head(flights[.(unique(origin), "MIA")])
# 主键要全都写入，不需要限定条件的用unique()，即所有值都获取

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1     1655        -5     2003       -17         0      AA
2 2014     1   1      607        -3      905       -10         0      AA
3 2014     1   1     1125        -5     1427        -8         0      AA
4 2014     1   1     1533        43     1840        42         0      UA
5 2014     1   1     2130        60       29        49         0      UA
6 2014     1   1      849         5     1141       -22         0      UA
  tailnum flight origin dest air_time distance hour min
1  N5CFAA    172    EWR  MIA      161     1085   16  55
2  N5DMAA   1205    EWR  MIA      154     1085    6   7
3  N3AGAA   1623    EWR  MIA      157     1085   11  25
4  N491UA    244    EWR  MIA      155     1085   15  33
5  N476UA    308    EWR  MIA      162     1085   21  30
6  N401UA    446    EWR  MIA      154     1085    8  49

In [13]:
head(flights["MIA"])## 不能跳过第一个主键列名

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1   NA    NA  NA       NA        NA       NA        NA        NA    <NA>
  tailnum flight origin dest air_time distance hour min
1    <NA>     NA    MIA <NA>       NA       NA   NA  NA

In [14]:
head(flights["JFK"]) #但是可以跳过第二个

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1     2011        10     2308         4         0      B6
2 2014     1   2     2215       134      145       161         0      B6
3 2014     1   7     2006         6     2314         6         0      B6
4 2014     1   8     2009        15     2252       -15         0      B6
5 2014     1   9     2039        45     2339        32         0      B6
6 2014     1  10     2029        35     2326        19         0      B6
  tailnum flight origin dest air_time distance hour min
1  N766JB     65    JFK  ABQ      280     1826   20  11
2  N507JB     65    JFK  ABQ      252     1826   22  15
3  N652JB     65    JFK  ABQ      269     1826   20   6
4  N613JB     65    JFK  ABQ      259     1826   20   9
5  N598JB     65    JFK  ABQ      267     1826   20  39
6  N519JB     65    JFK  ABQ      269     1826   20  29

## 主键与参数j， 参数by一起使用

In [18]:
#返回符合 origin = “LGA” 和 dest = “TPA”这两个条件的 arr_delay列
head(flights[.("LGA", "TPA"), .(arr_delay)])
#flights[.("LGA", "TPA"), "arr_delay", with=FALSE] 也可以

  arr_delay
1         1
2        14
3       -17
4        -4
5       -12
6        94

### Chaining表达式

In [19]:
#在上面的基础上，将结果用chaining表达式按降序排列
head(flights[.("LGA", "TPA"), .(arr_delay)][order(-arr_delay)])

  arr_delay
1       486
2       380
3       351
4       318
5       300
6       270

### 在参数j里运算

In [20]:
#找出符合 origin = “LGA” 和 dest = “TPA”这两个条件的航班的最大到达延误时间
flights[.("LGA", "TPA"), max(arr_delay)]

[1] 486

### 在参数j里使用操作符”:=“来sub-assign

In [6]:
#把24点全部替换成0点
setkey(flights, hour)
key(flights)

[1] "hour"

In [7]:
head(flights[.(24), hour := 0L])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1        6         7      450        13         0      B6
2 2014     1   1       15        16      453         8         0      B6
3 2014     1   1       15       110      327       116         0      B6
4 2014     1   2        5       150      339       164         0      AA
5 2014     1   2        3       197      452       294         0      B6
6 2014     1   3       18        88      125        89         0      B6
  tailnum flight origin dest air_time distance hour min
1  N521JB    839    JFK  BQN      198     1576    0   6
2  N580JB    745    JFK  PSE      200     1617    0  15
3  N645JB    623    JFK  LAX      349     2475    0  15
4  N335AA    185    JFK  LAX      335     2475    0   5
5  N806JB    329    JFK  RSW      196     1074    0   3
6  N306JB   1816    JFK  SYR       46      209    0  18

In [8]:
key(flights) #修改了键值以后，主键被去除

NULL

In [9]:
flights[, sort(unique(hour))]

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23

### 用参数by聚合

In [15]:
setkey(flights, origin, dest)
key(flights)

[1] "origin" "dest"

In [17]:
#获取每个月从“JFK”起飞的航班的最大起飞延误时间，按月排序
# 可以跳过第二个主键列名
# 注意如果用keyby，则会自动使得month成为主键
ans <- flights["JFK", max(dep_delay), keyby=month]
ans

   month   V1
1      1  881
2      2 1014
3      3  920
4      4 1241
5      5  853
6      6  798
7      7  926
8      8  772
9      9  553
10    10  848

In [18]:
key(ans)

[1] "month"

In [19]:
#如果用的是by，则运算后默认取消主键
setkey(flights, origin, dest)
ans <- flights["JFK", max(dep_delay), by=month]
ans

   month   V1
1      1  881
2      2 1014
3      3  920
4      4 1241
5      5  853
6      6  798
7      7  926
8      8  772
9      9  553
10    10  848

In [20]:
key(ans)

NULL

## mult和nomatch
### mult
mult参数有3种取值，first，last，all (注意是str)，返回所有满足条件的第一行，最后一行，或全部

In [9]:
#获取符合origin = “JFK” 且 dest = “MIA”的数据的第一行
flights[.("JFK", "MIA"), mult="first"]

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1     1509        -1     1828       -17         0      AA
  tailnum flight origin dest air_time distance hour min
1  N5FJAA    145    JFK  MIA      161     1089   15   9

In [15]:
#获取符合origin = “LGA”或”JFK”或”EWR” 且 dest = “XNA”的数据的最后一行
flights[.(c("LGA", "JFK", "EWR"), "XNA"), mult = "last"]
# NA是因为JFK,XNA同时成立的条目不存在

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014    10  31      625        -5      829       -11         0      MQ
2   NA    NA  NA       NA        NA       NA        NA        NA    <NA>
3 2014    10  31      634        -2      834       -25         0      EV
  tailnum flight origin dest air_time distance hour min
1  N501MQ   3547    LGA  XNA      165     1147    6  25
2    <NA>     NA    JFK  XNA       NA       NA   NA  NA
3  N17138   4419    EWR  XNA      160     1131    6  34

### nomatch

In [16]:
# 用于指定遇到NA如何返回，默认是NA，0L为跳过
flights[.(c("LGA", "JFK", "EWR"), "XNA"), mult="last", nomatch = 0L]

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014    10  31      625        -5      829       -11         0      MQ
2 2014    10  31      634        -2      834       -25         0      EV
  tailnum flight origin dest air_time distance hour min
1  N501MQ   3547    LGA  XNA      165     1147    6  25
2  N17138   4419    EWR  XNA      160     1131    6  34

## 二分法搜索vs向量扫描

主键做法可以和普通做法得到相同效果，但是，快几百倍。
因为主键会先进行排序，所以可以用二分法进行搜索，比全盘的向量扫描快很多