## 语义引用

目的：直接在原始数据上进行增加，删除和更新列

原始的data.frame的处理会进行深度拷贝。

In [1]:
library(data.table)
flights <- fread("flights14.csv")

In [2]:
head(flights)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57
3  N327AA     21    JFK  LAX      351     2475   19   2
4  N3EHAA     29    LGA  PBI      157     1035    7  22
5  N319AA    117    JFK  LAX      350     2475   13  47
6  N3DEAA    119    EWR  LAX      339     2454   18  24

In [3]:
DF = data.frame(ID = c("b","b","b","a","a","c"), a = 1:6, b = 7:12, c=13:18)
DF

  ID a  b  c
1  b 1  7 13
2  b 2  8 14
3  b 3  9 15
4  a 4 10 16
5  a 5 11 17
6  c 6 12 18

### 操作符 “：=”

用法：

A. 等式

多个列

DT[, c("colA", "colB", ...) := list(valA, valB, ...) ]

单个列

DT[, colA := valA]

B. 函数

DT[, `:=`(colA =ValA, colB = ValB, ...)]

col是列名，val是要带入的值。col不存在则新建

:= 没有返回值，在j参数中可用。这里没有涉及赋值，而是更新

### 添加，更新与删除
#### 添加

In [4]:
#对每次航班，添加 speed 和 total delay 两列
head(flights[, ':='(speed = distance / (air_time/60), delay = arr_delay+dep_delay)])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min    speed delay
1  N338AA      1    JFK  LAX      359     2475    9  14 413.6490    27
2  N335AA      3    JFK  LAX      363     2475   11  57 409.0909    10
3  N327AA     21    JFK  LAX      351     2475   19   2 423.0769    11
4  N3EHAA     29    LGA  PBI      157     1035    7  22 395.5414   -34
5  N319AA    117    JFK  LAX      350     2475   13  47 424.2857     3
6  N3DEAA    119    EWR  LAX      339     2454   18  24 434.3363     4

In [5]:
flights <- fread("flights14.csv")# 还原
head(flights[, c("speed", "delay") := list(distance / (air_time/60), arr_delay+dep_delay)])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min    speed delay
1  N338AA      1    JFK  LAX      359     2475    9  14 413.6490    27
2  N335AA      3    JFK  LAX      363     2475   11  57 409.0909    10
3  N327AA     21    JFK  LAX      351     2475   19   2 423.0769    11
4  N3EHAA     29    LGA  PBI      157     1035    7  22 395.5414   -34
5  N319AA    117    JFK  LAX      350     2475   13  47 424.2857     3
6  N3DEAA    119    EWR  LAX      339     2454   18  24 434.3363     4

#### 更新

In [6]:
flights[, sort(unique(hour))]

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [7]:
# 0点和24点应该是一样的，要把所有24更新成0
head(flights[hour == 24L, hour := 0L])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min    speed delay
1  N338AA      1    JFK  LAX      359     2475    9  14 413.6490    27
2  N335AA      3    JFK  LAX      363     2475   11  57 409.0909    10
3  N327AA     21    JFK  LAX      351     2475   19   2 423.0769    11
4  N3EHAA     29    LGA  PBI      157     1035    7  22 395.5414   -34
5  N319AA    117    JFK  LAX      350     2475   13  47 424.2857     3
6  N3DEAA    119    EWR  LAX      339     2454   18  24 434.3363     4

In [8]:
flights[, sort(unique(hour))]

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23

实际在R中，:=没有返回值，需要flights[hour == 24L, hour := 0L][]来查看结果

#### 删除

In [10]:
#删除 delay列:直接操作赋值为NULL。如果只要删除一列可以去掉c("")
head(flights[, c("delay") := NULL])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min    speed
1  N338AA      1    JFK  LAX      359     2475    9  14 413.6490
2  N335AA      3    JFK  LAX      363     2475   11  57 409.0909
3  N327AA     21    JFK  LAX      351     2475   19   2 423.0769
4  N3EHAA     29    LGA  PBI      157     1035    7  22 395.5414
5  N319AA    117    JFK  LAX      350     2475   13  47 424.2857
6  N3DEAA    119    EWR  LAX      339     2454   18  24 434.3363

#### ":=" 和分组

In [11]:
#追加一列，用来保存某对起飞／到达机场间的最快飞行速度
head(flights[, max_speed := max(speed), by = .(origin,dest)])
#会把所有相同组内的行都填充相同的值

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min    speed max_speed
1  N338AA      1    JFK  LAX      359     2475    9  14 413.6490  526.5957
2  N335AA      3    JFK  LAX      363     2475   11  57 409.0909  526.5957
3  N327AA     21    JFK  LAX      351     2475   19   2 423.0769  526.5957
4  N3EHAA     29    LGA  PBI      157     1035    7  22 395.5414  517.5000
5  N319AA    117    JFK  LAX      350     2475   13  47 424.2857  526.5957
6  N3DEAA    119    EWR  LAX      339     2454   18  24 434.3363  518.4507

#### “:=" 与复数列分组

In [12]:
#再追加两列，用于保存每个月的最大起飞延误时间dep_delay 和到达延误时间arr_delay
head(flights[, c("max_dep_delay", "max_arr_delay") := lapply(.SD, max),
            by = month, .SDcols = c("dep_delay", "arr_delay")])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum ... origin dest air_time distance hour min    speed max_speed
1  N338AA ...    JFK  LAX      359     2475    9  14 413.6490  526.5957
2  N335AA ...    JFK  LAX      363     2475   11  57 409.0909  526.5957
3  N327AA ...    JFK  LAX      351     2475   19   2 423.0769  526.5957
4  N3EHAA ...    LGA  PBI      157     1035    7  22 395.5414  517.5000
5  N319AA ...    JFK  LAX      350     2475   13  47 424.2857  526.5957
6  N3DEAA ...    EWR  LAX      339     2454   18  24 434.3363  518.4507
  max_dep_delay max_arr_delay
1           973           996
2           973           996
3           973           996
4           973           996
5           973           996
6           973           996

In [13]:
#复原
head(flights[, c("speed", "max_speed", "max_dep_delay", "max_arr_delay") := NULL])

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57
3  N327AA     21    JFK  LAX      351     2475   19   2
4  N3EHAA     29    LGA  PBI      157     1035    7  22
5  N319AA    117    JFK  LAX      350     2475   13  47
6  N3DEAA    119    EWR  LAX      339     2454   18  24

### ":="和copy()
如果不想要更新原始数据，可以用copy复制一份，再处理复制品

注意：如果有个变量直接引用了一个datatable，那么原始datatable变化的时候这个变量也会变，也就是说变量只是一个地址，指向原始数据。
而如果这个变量是通过copy原来的datatable产生的，那么他就和原来的datatable独立了。

## 总结

操作符“:=”
* 操作符“:=”用于添加／更新／删除列。
* 我们也学习了如何跟参数i和参数by一起使用，就像在第一讲中学习的那样。同样，我们也可以使用 keyby，可以用方括号 [] 将操作连结起来，可以给参数by 指定表达式。
* 我们可以利用操作符“:=”更新原数据，也可以用函数 copy() 来避免更新原数据。