In [1]:
library(data.table)

In [2]:
# 载入数据 fread来源于data.table包
flights <- fread("flights14.csv")

In [3]:
head(flights)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57
3  N327AA     21    JFK  LAX      351     2475   19   2
4  N3EHAA     29    LGA  PBI      157     1035    7  22
5  N319AA    117    JFK  LAX      350     2475   13  47
6  N3DEAA    119    EWR  LAX      339     2454   18  24

In [4]:
dim(flights)

[1] 253316     17

## 基础

### 创建data.table

In [5]:
#类似data.frame，也可以as.data.table
DT = data.table( ID = c("b","b","b","a","a","c"), a=1:6 , b = 7:12, c=13:18)

In [6]:
DT

  ID a  b  c
1  b 1  7 13
2  b 2  8 14
3  b 3  9 15
4  a 4 10 16
5  a 5 11 17
6  c 6 12 18

In [7]:
# 字符串默认不再是因子
class(DT$ID)

[1] "character"

In [8]:
# 修改datatable.print.nrows"可以修改输入的时候显示多少行，而不会一次性全部显示
getOption("datatable.print.nrows")

[1] 100

### 基本语法：
DT[i, j, by]

对于datatable DT，subset第i行，计算j，用by分组

subset表示选择行，select表示选择列

### subset（行）

In [9]:
# 选择满足条件的行，很直观
ans <- flights[origin == "JFK" & month == 6L] #要用双引号！
head(ans)
# 默认第一个参数传入i，
#满足基本语法的写法 ans <- flights[origin == "JFK" & month == 6L， ] 也可以

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     6   1      851        -9     1205        -5         0      AA
2 2014     6   1     1220       -10     1522       -13         0      AA
3 2014     6   1      718        18     1014        -1         0      AA
4 2014     6   1     1024        -6     1314       -16         0      AA
5 2014     6   1     1841        -4     2125       -45         0      AA
6 2014     6   1     1454        -6     1757       -23         0      AA
  tailnum flight origin dest air_time distance hour min
1  N787AA      1    JFK  LAX      324     2475    8  51
2  N795AA      3    JFK  LAX      329     2475   12  20
3  N784AA      9    JFK  LAX      326     2475    7  18
4  N791AA     19    JFK  LAX      320     2475   10  24
5  N790AA     21    JFK  LAX      326     2475   18  41
6  N785AA    117    JFK  LAX      329     2475   14  54

In [11]:
#获取某行
ans <- flights[1:2]
ans

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57

In [13]:
ans <- flights[c(1,4,7,23)]
ans

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1      722        -8     1014       -26         0      AA
3 2014     1   1     2133        -2       37       -18         0      AA
4 2014     1   1      738        -2      940        15         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N3EHAA     29    LGA  PBI      157     1035    7  22
3  N323AA    185    JFK  LAX      338     2475   21  33
4  N3GMAA    307    LGA  ORD      145      733    7  38

### 排序
内置order函数，使用-可以实现降序，比base的order快（16倍）

In [14]:
ans <- flights[order( origin, -dest)] #可以写出多个，会按顺序排
head(ans)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   5      836         6     1151        49         0      EV
2 2014     1   6      833         7     1111        13         0      EV
3 2014     1   7      811        -6     1035       -13         0      EV
4 2014     1   8      810        -7     1036       -12         0      EV
5 2014     1   9      833        16     1055         7         0      EV
6 2014     1  13      923        66     1154        66         0      EV
  tailnum flight origin dest air_time distance hour min
1  N12175   4419    EWR  XNA      195     1131    8  36
2  N24128   4419    EWR  XNA      190     1131    8  33
3  N12142   4419    EWR  XNA      179     1131    8  11
4  N11193   4419    EWR  XNA      184     1131    8  10
5  N14198   4419    EWR  XNA      181     1131    8  33
6  N12157   4419    EWR  XNA      188     1131    9  23

### select列(参数j）

In [15]:
# 基础语法DT[i, j, by] ，用一个，隔开进入j，选择列
ans <- flights[, arr_delay]
head(ans)

[1]  13  13   9 -26   1   0

In [16]:
#如果想指定行和列
ans <- flights[1:4 , arr_delay]
head(ans)

[1]  13  13   9 -26

In [22]:
str(ans) #返回向量

 int [1:4] 13 13 9 -26

In [23]:
# 如果想要返回datatable,用list包围列名，或者.()也可以，
ans <- flights[, list(arr_delay)]
head(ans)

  arr_delay
1        13
2        13
3         9
4       -26
5         1
6         0

In [24]:
str(ans)

Classes 'data.table' and 'data.frame':	253316 obs. of  1 variable:
 $ arr_delay: int  13 13 9 -26 1 0 -18 -14 -17 -14 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [25]:
# list()里面可以包含很多个列名
ans <- flights[, .(arr_delay, dep_delay)]
head(ans)

  arr_delay dep_delay
1        13        14
2        13        -3
3         9         2
4       -26        -8
5         1         2
6         0         4

In [27]:
#也支持在select列的时候对列命名
ans <- flights[, .(delay_arr = arr_delay, delay_dep = dep_delay)]
head(ans)

  delay_arr delay_dep
1        13        14
2        13        -3
3         9         2
4       -26        -8
5         1         2
6         0         4

In [37]:
#也可以用with =FALSE 来用列名引用
ans <- flights[, c("arr_delay", "dep_delay"), with=FALSE]
head(ans)

  arr_delay dep_delay
1        13        14
2        13        -3
3         9         2
4       -26        -8
5         1         2
6         0         4

In [41]:
#排除列, with模式关闭条件下，用!或者-
ans <- flights[, !c("arr_delay", "dep_delay"),with = FALSE]
head(ans)

  year month day dep_time arr_time cancelled carrier tailnum flight origin dest
1 2014     1   1      914     1238         0      AA  N338AA      1    JFK  LAX
2 2014     1   1     1157     1523         0      AA  N335AA      3    JFK  LAX
3 2014     1   1     1902     2224         0      AA  N327AA     21    JFK  LAX
4 2014     1   1      722     1014         0      AA  N3EHAA     29    LGA  PBI
5 2014     1   1     1347     1706         0      AA  N319AA    117    JFK  LAX
6 2014     1   1     1824     2145         0      AA  N3DEAA    119    EWR  LAX
  air_time distance hour min
1      359     2475    9  14
2      363     2475   11  57
3      351     2475   19   2
4      157     1035    7  22
5      350     2475   13  47
6      339     2454   18  24

In [42]:
# 选择连续的列
ans <- flights[, month:carrier, with = FALSE]
head(ans)

  month day dep_time dep_delay arr_time arr_delay cancelled carrier
1     1   1      914        14     1238        13         0      AA
2     1   1     1157        -3     1523        13         0      AA
3     1   1     1902         2     2224         9         0      AA
4     1   1      722        -8     1014       -26         0      AA
5     1   1     1347         2     1706         1         0      AA
6     1   1     1824         4     2145         0         0      AA

### 运算（参数j）

In [29]:
#多少航班完全没有延误
#对arr_delay和dep_delay求和后，判断是否小于0，把小于0的个数求和
ans <- flights[, sum((arr_delay+dep_delay) <0)]
ans

[1] 141814

### 选取（i）且运算（j)

In [32]:
#在六月份，从”JFK”机场起飞的航班中，计算起飞和到达的平均延误时间
ans <- flights[origin == "JFK" & month == 6L, .(m_arr = mean(arr_delay), m_dep = mean(dep_delay))]
ans

     m_arr    m_dep
1 5.839349 9.807884

In [35]:
# 在六月份，从”JFK”机场起飞的航班一共有多少
ans <- nrow(flights[origin == "JFK" & month == 6L ])
ans

[1] 8422

#### .N（参数j）
.N表示计算当前分组中对象的数目

In [36]:
#这样更快
ans <- flights[origin == "JFK" & month == 6L, .N]
ans

[1] 8422