In [1]:
library(data.table)

In [2]:
# 载入数据 fread来源于data.table包
flights <- fread("flights14.csv")

In [3]:
head(flights)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
3 2014     1   1     1902         2     2224         9         0      AA
4 2014     1   1      722        -8     1014       -26         0      AA
5 2014     1   1     1347         2     1706         1         0      AA
6 2014     1   1     1824         4     2145         0         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57
3  N327AA     21    JFK  LAX      351     2475   19   2
4  N3EHAA     29    LGA  PBI      157     1035    7  22
5  N319AA    117    JFK  LAX      350     2475   13  47
6  N3DEAA    119    EWR  LAX      339     2454   18  24

In [4]:
dim(flights)

[1] 253316     17

## 基础

### 创建data.table

In [10]:
#类似data.frame，也可以as.data.table
DT = data.table( ID = c("b","b","b","a","a","c"), a=1:6 , b = 7:12, c=13:18)

In [6]:
DT

  ID a  b  c
1  b 1  7 13
2  b 2  8 14
3  b 3  9 15
4  a 4 10 16
5  a 5 11 17
6  c 6 12 18

In [7]:
# 字符串默认不再是因子
class(DT$ID)

[1] "character"

In [8]:
# 修改datatable.print.nrows"可以修改输入的时候显示多少行，而不会一次性全部显示
getOption("datatable.print.nrows")

[1] 100

## 基本语法：
DT[i, j, by]

对于datatable DT，subset第i行，计算j，用by分组

subset表示选择行，select表示选择列

### subset（行）

In [9]:
# 选择满足条件的行，很直观
ans <- flights[origin == "JFK" & month == 6L] #要用双引号！
head(ans)
# 默认第一个参数传入i，
#满足基本语法的写法 ans <- flights[origin == "JFK" & month == 6L， ] 也可以

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     6   1      851        -9     1205        -5         0      AA
2 2014     6   1     1220       -10     1522       -13         0      AA
3 2014     6   1      718        18     1014        -1         0      AA
4 2014     6   1     1024        -6     1314       -16         0      AA
5 2014     6   1     1841        -4     2125       -45         0      AA
6 2014     6   1     1454        -6     1757       -23         0      AA
  tailnum flight origin dest air_time distance hour min
1  N787AA      1    JFK  LAX      324     2475    8  51
2  N795AA      3    JFK  LAX      329     2475   12  20
3  N784AA      9    JFK  LAX      326     2475    7  18
4  N791AA     19    JFK  LAX      320     2475   10  24
5  N790AA     21    JFK  LAX      326     2475   18  41
6  N785AA    117    JFK  LAX      329     2475   14  54

In [11]:
#获取某行
ans <- flights[1:2]
ans

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1     1157        -3     1523        13         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N335AA      3    JFK  LAX      363     2475   11  57

In [13]:
ans <- flights[c(1,4,7,23)]
ans

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   1      914        14     1238        13         0      AA
2 2014     1   1      722        -8     1014       -26         0      AA
3 2014     1   1     2133        -2       37       -18         0      AA
4 2014     1   1      738        -2      940        15         0      AA
  tailnum flight origin dest air_time distance hour min
1  N338AA      1    JFK  LAX      359     2475    9  14
2  N3EHAA     29    LGA  PBI      157     1035    7  22
3  N323AA    185    JFK  LAX      338     2475   21  33
4  N3GMAA    307    LGA  ORD      145      733    7  38

### 排序
内置order函数，使用-可以实现降序，比base的order快（16倍）

In [14]:
ans <- flights[order( origin, -dest)] #可以写出多个，会按顺序排
head(ans)

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014     1   5      836         6     1151        49         0      EV
2 2014     1   6      833         7     1111        13         0      EV
3 2014     1   7      811        -6     1035       -13         0      EV
4 2014     1   8      810        -7     1036       -12         0      EV
5 2014     1   9      833        16     1055         7         0      EV
6 2014     1  13      923        66     1154        66         0      EV
  tailnum flight origin dest air_time distance hour min
1  N12175   4419    EWR  XNA      195     1131    8  36
2  N24128   4419    EWR  XNA      190     1131    8  33
3  N12142   4419    EWR  XNA      179     1131    8  11
4  N11193   4419    EWR  XNA      184     1131    8  10
5  N14198   4419    EWR  XNA      181     1131    8  33
6  N12157   4419    EWR  XNA      188     1131    9  23

### select列(参数j）

In [15]:
# 基础语法DT[i, j, by] ，用一个，隔开进入j，选择列
ans <- flights[, arr_delay]
head(ans)

[1]  13  13   9 -26   1   0

In [16]:
#如果想指定行和列
ans <- flights[1:4 , arr_delay]
head(ans)

[1]  13  13   9 -26

In [22]:
str(ans) #返回向量

 int [1:4] 13 13 9 -26

In [23]:
# 如果想要返回datatable,用list包围列名，或者.()也可以，
ans <- flights[, list(arr_delay)]
head(ans)

  arr_delay
1        13
2        13
3         9
4       -26
5         1
6         0

In [24]:
str(ans)

Classes 'data.table' and 'data.frame':	253316 obs. of  1 variable:
 $ arr_delay: int  13 13 9 -26 1 0 -18 -14 -17 -14 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [25]:
# list()里面可以包含很多个列名
ans <- flights[, .(arr_delay, dep_delay)]
head(ans)

  arr_delay dep_delay
1        13        14
2        13        -3
3         9         2
4       -26        -8
5         1         2
6         0         4

In [27]:
#也支持在select列的时候对列命名
ans <- flights[, .(delay_arr = arr_delay, delay_dep = dep_delay)]
head(ans)

  delay_arr delay_dep
1        13        14
2        13        -3
3         9         2
4       -26        -8
5         1         2
6         0         4

In [37]:
#也可以用with =FALSE 来用列名引用
ans <- flights[, c("arr_delay", "dep_delay"), with=FALSE]
head(ans)

  arr_delay dep_delay
1        13        14
2        13        -3
3         9         2
4       -26        -8
5         1         2
6         0         4

In [41]:
#排除列, with模式关闭条件下，用!或者-
ans <- flights[, !c("arr_delay", "dep_delay"),with = FALSE]
head(ans)

  year month day dep_time arr_time cancelled carrier tailnum flight origin dest
1 2014     1   1      914     1238         0      AA  N338AA      1    JFK  LAX
2 2014     1   1     1157     1523         0      AA  N335AA      3    JFK  LAX
3 2014     1   1     1902     2224         0      AA  N327AA     21    JFK  LAX
4 2014     1   1      722     1014         0      AA  N3EHAA     29    LGA  PBI
5 2014     1   1     1347     1706         0      AA  N319AA    117    JFK  LAX
6 2014     1   1     1824     2145         0      AA  N3DEAA    119    EWR  LAX
  air_time distance hour min
1      359     2475    9  14
2      363     2475   11  57
3      351     2475   19   2
4      157     1035    7  22
5      350     2475   13  47
6      339     2454   18  24

In [42]:
# 选择连续的列
ans <- flights[, month:carrier, with = FALSE]
head(ans)

  month day dep_time dep_delay arr_time arr_delay cancelled carrier
1     1   1      914        14     1238        13         0      AA
2     1   1     1157        -3     1523        13         0      AA
3     1   1     1902         2     2224         9         0      AA
4     1   1      722        -8     1014       -26         0      AA
5     1   1     1347         2     1706         1         0      AA
6     1   1     1824         4     2145         0         0      AA

### 运算（参数j）

In [29]:
#多少航班完全没有延误
#对arr_delay和dep_delay求和后，判断是否小于0，把小于0的个数求和
ans <- flights[, sum((arr_delay+dep_delay) <0)]
ans

[1] 141814

### 选取（i）且运算（j)

In [32]:
#在六月份，从”JFK”机场起飞的航班中，计算起飞和到达的平均延误时间
ans <- flights[origin == "JFK" & month == 6L, .(m_arr = mean(arr_delay), m_dep = mean(dep_delay))]
ans

     m_arr    m_dep
1 5.839349 9.807884

In [35]:
# 在六月份，从”JFK”机场起飞的航班一共有多少
ans <- nrow(flights[origin == "JFK" & month == 6L ])
ans

[1] 8422

#### .N（参数j）
.N表示计算当前分组中对象的数目

In [36]:
#这样更快
ans <- flights[origin == "JFK" & month == 6L, .N]
ans

[1] 8422

### 聚合（参数by）
### 分组

In [5]:
# 获取每个机场起飞的航班数
ans <- flights[ , .(.N), by = .(origin)]
# [不限制行， 计算满足条件的行个数， 分类依据]
ans
# ans <- flights[ , .(.N), by = .(origin)]的by也可以用by = origin,支持字符串名字

  origin     N
1    JFK 81483
2    LGA 84433
3    EWR 87400

In [7]:
# 获取美航（carrier code代码是“AA”）在每个机场起飞的航班数 航空公司代码“AA”代表美航。每个航空公司的代码都是唯一的。
ans <-  flights[carrier == "AA", .(.N), by = origin]
ans

  origin     N
1    JFK 11923
2    LGA 11730
3    EWR  2649

In [9]:
#获取美航在所有机场的起／降的数目
ans <- flights[carrier == "AA", .N, by=.(origin,dest)] #也可以下by=c("origin","dest")
head(ans)

  origin dest    N
1    JFK  LAX 3387
2    LGA  PBI  245
3    EWR  LAX   62
4    JFK  MIA 1876
5    JFK  SEA  298
6    EWR  MIA  848

In [11]:
# 获取美航在所有机场的起／降的平均延误时间
ans <- flights[carrier == "AA", .(mean(arr_delay), mean(dep_delay)), by=.(origin, dest)]
ans

   origin dest         V1         V2
1     JFK  LAX  2.4186596  5.9359315
2     LGA  PBI -8.9510204 -0.2122449
3     EWR  LAX  4.8064516  4.8709677
4     JFK  MIA  1.0964819  9.9381663
5     JFK  SEA 10.0033557 17.2684564
6     EWR  MIA  3.2464623  7.5035377
7     JFK  SFO 11.5792683 13.0777439
8     JFK  BOS  7.3878943  8.9607843
9     JFK  ORD 19.9606481 23.9490741
10    JFK  IAH 28.8571429 14.2857143
11    JFK  AUS 14.1380471 13.3501684
12    EWR  DFW 16.6990111 17.7156984
13    LGA  ORD  9.4759505  9.7617957
14    JFK  STT  4.8908297  8.1441048
15    JFK  SJU  5.0028986  9.5971014
16    LGA  MIA -0.6418716  4.1532693
17    LGA  DFW  0.5117569  4.4824306
18    JFK  LAS 12.2201681  8.7663866
19    JFK  MCO  3.2077052  5.0753769
20    JFK  EGE 35.4352941 43.3294118
21    JFK  DFW  1.6751055  6.1962025
22    JFK  SAN 17.1304348 14.4515050
23    JFK  DCA 12.3139535  8.5290698
24    EWR  PHX -2.1404959  0.1487603

### 分组排序
默认会按照元数据中的顺序而不是按照分组归类排,把by改成keyby就可以按分组变量排序

In [4]:
# 按照分组的变量排序
ans <- flights[carrier == "AA", .(mean(arr_delay), mean(dep_delay)), keyby=.(origin, dest, month)]
head(ans)

  origin dest month        V1        V2
1    EWR  DFW     1  6.427673 10.012579
2    EWR  DFW     2 10.536765 11.345588
3    EWR  DFW     3 12.865031  8.079755
4    EWR  DFW     4 17.792683 12.920732
5    EWR  DFW     5 18.487805 18.682927
6    EWR  DFW     6 37.005952 38.744048

In [7]:
ans <- flights[carrier == "AA", .(mean(arr_delay), mean(dep_delay)), keyby=.( month,origin, dest)]
head(ans)

  month origin dest         V1       V2
1     1    EWR  DFW   6.427673 10.01258
2     1    EWR  LAX   1.366667  7.50000
3     1    EWR  MIA  11.011236 12.12360
4     1    JFK  AUS  25.200000 27.60000
5     1    JFK  BOS  12.919643 15.21429
6     1    JFK  DFW -11.900000  8.80000

### chaining表达式
上述做法只能分组，但是无法方便地指定正序还是倒序

In [8]:
# 分组后再加入后续操作
ans <- flights[carrier == "AA", .(mean(arr_delay), mean(dep_delay)), keyby=.( month,origin, dest)][order(-month)]
head(ans)

  month origin dest        V1        V2
1    10    EWR  DFW 18.813665 18.894410
2    10    EWR  MIA -4.475410 -3.786885
3    10    EWR  PHX -3.032258 -4.290323
4    10    JFK  AUS  3.290323  6.290323
5    10    JFK  BOS 11.500000 10.270492
6    10    JFK  DCA 16.483871 15.516129

### by表达式
参数by也可以接受表达式，不仅可以按变量分组，也可以按条件分组

In [9]:
#有多少航班起飞延误但却提前／准时到达的，有多少航班起飞和到达都延误了
ans <- flights[, .N, .(dep_delay>0, arr_delay>0)]
ans

  dep_delay arr_delay      N
1      TRUE      TRUE  72836
2     FALSE      TRUE  34583
3     FALSE     FALSE 119304
4      TRUE     FALSE  26593

### 参数j中指定多个列
如果要对许多个列都应用某个函数，比如计算均值，不需要每个列都写mean

因为如果参数j传入的是一个list，那么这个list的每个元素都会被转化成结果的一列

特殊语法：.SD

返回的是去掉分组变量后的其他所有列

In [11]:
DT

  ID a  b  c
1  b 1  7 13
2  b 2  8 14
3  b 3  9 15
4  a 4 10 16
5  a 5 11 17
6  c 6 12 18

In [17]:
# 用lapply传入j参数就可以把除了by以外的所有列都进行相同的计算
DT[, lapply(.SD,mean), by=ID]

  ID   a    b    c
1  b 2.0  8.0 14.0
2  a 4.5 10.5 16.5
3  c 6.0 12.0 18.0

但是这样仍然无法指定一定数量的列

可以用.SDcols，比如.SDcols = c("arr_delay", "dep_delay")能确保.SD只包含 arr_delay 和 dep_delay 这两列。也可以使用 - 或者 ! 来移除列。比如，我们指定 !(colA:colB) 或者 -(colA:colB)表示移除从 colA 到 colB 的所有列。

.SDcols要传入str向量

In [19]:
flights[carrier == "AA",                     #i参数
        lapply(.SD, mean),                   # j参数，对除了by以外的所有列计算均值
        by=.(origin, dest, month),           #by参数
        .SDcols=c("arr_delay", "dep_delay") #限定j参数中引用的.SD中只有"arr_delay", "dep_delay"
       ][order(-month)]   #按照month倒序排列

    origin dest month          arr_delay          dep_delay
1      JFK  LAX    10 -0.959493670886076   6.21518987341772
2      JFK  SFO    10   8.16339869281046   7.62745098039216
3      JFK  BOS    10               11.5   10.2704918032787
4      JFK  SAN    10   16.2258064516129   12.4838709677419
5      JFK  ORD    10   23.0645161290323   17.6451612903226
6      JFK  LAS    10   18.2258064516129   14.5483870967742
7      JFK  DFW    10   2.26229508196721   3.04918032786885
8      JFK  SJU    10   1.74193548387097   17.1290322580645
9      JFK  SEA    10   1.03225806451613   4.90322580645161
10     LGA  ORD    10   15.4661190965092    12.911704312115
11     EWR  DFW    10   18.8136645962733   18.8944099378882
12     JFK  AUS    10   3.29032258064516   6.29032258064516
13     EWR  MIA    10  -4.47540983606557  -3.78688524590164
14     LGA  DFW    10                3.5   4.55276381909548
15     LGA  MIA    10  -6.25179856115108  -1.42086330935252
16     JFK  MIA    10  -1.88018433179724   6.67741935483871
17     EWR  PHX    10  -3.03225806451613  -4.29032258064516
18     JFK  MCO    10  -10.0483870967742  -1.61290322580645
19     JFK  DCA    10   16.4838709677419   15.5161290322581
20     JFK  LAX     9  -7.24415584415584   1.51168831168831
21     JFK  SFO     9   7.23333333333333   6.20666666666667
22     JFK  BOS     9   5.41666666666667   5.08333333333333
23     JFK  SAN     9               18.8   12.8333333333333
24     JFK  ORD     9   6.79310344827586   12.1724137931034
25     JFK  SEA     9   8.56666666666667   16.8333333333333
26     JFK  LAS     9              10.95                8.4
27     JFK  DFW     9  -10.6949152542373 -0.220338983050847
28     JFK  SJU     9             1.6875             11.375
29     LGA  ORD     9   4.33115468409586    3.7843137254902
30     EWR  DFW     9   5.86503067484663   13.0552147239264
...    ...  ...   ...                ...                ...
171    EWR  DFW     2   10.5367647058824   11.3455882352941
172    LGA  ORD     2   5.28526645768025   8.78996865203762
173    EWR  LAX     2   10.3333333333333   4.11111111111111
174    LGA  MIA     2              9.625               10.7
175    JFK  STT     2   15.1153846153846   20.9615384615385
176    LGA  DFW     2   5.37133550488599   7.47882736156352
177    JFK  MCO     2   8.45283018867925   10.1509433962264
178    JFK  EGE     2   53.7857142857143   57.4642857142857
179    JFK  LAX     1   6.59036144578313   14.2289156626506
180    LGA  PBI     1  -7.75862068965517  0.310344827586207
181    EWR  LAX     1   1.36666666666667                7.5
182    JFK  MIA     1   15.7206703910615   18.7430167597765
183    JFK  SEA     1   14.3571428571429              30.75
184    EWR  MIA     1   11.0112359550562    12.123595505618
185    JFK  SFO     1   19.2522522522523   28.6396396396396
186    JFK  BOS     1   12.9196428571429   15.2142857142857
187    JFK  ORD     1   31.5862068965517   40.1724137931034
188    JFK  IAH     1   28.8571428571429   14.2857142857143
189    JFK  AUS     1               25.2               27.6
190    EWR  DFW     1   6.42767295597484   10.0125786163522
191    LGA  ORD     1    8.4402332361516   10.1195335276968
192    JFK  STT     1   18.9310344827586   21.3793103448276
193    JFK  SJU     1   18.9204545454545   20.2272727272727
194    LGA  MIA     1               6.13             5.4175
195    LGA  DFW     1  0.529569892473118   7.75806451612903
196    JFK  LAS     1   17.6949152542373   19.1525423728814
197    JFK  MCO     1   10.5762711864407   13.8813559322034
198    JFK  EGE     1   23.1111111111111   32.5185185185185
199    JFK  DFW     1              -11.9                8.8
200    JFK  SAN     1   11.5555555555556   12.4814814814815

### 对行进行.SD(取出每一组的某几行）

In [20]:
#返回每个月的前两行
ans <- flights[, head(.SD, 2), by=month]
ans
#对每组数据，head(.SD, 2)返回的data.table同时也是个list。所以不需要用 .() 包围起来。

   month year day dep_time dep_delay arr_time arr_delay cancelled carrier
1      1 2014   1      914        14     1238        13         0      AA
2      1 2014   1     1157        -3     1523        13         0      AA
3      2 2014   1      859        -1     1226         1         0      AA
4      2 2014   1     1155        -5     1528         3         0      AA
5      3 2014   1      849       -11     1306        36         0      AA
6      3 2014   1     1157        -3     1529        14         0      AA
7      4 2014   1     1812        -8     1927       -23         0      MQ
8      4 2014   1     1812        -8     1949       -11         0      MQ
9      5 2014   1     1743        43     1955         5         0      AA
10     5 2014   1      759        -1     1057       -38         0      AA
11     6 2014   1      851        -9     1205        -5         0      AA
12     6 2014   1     1220       -10     1522       -13         0      AA
13     7 2014   1      727        -3     1043        -2         0      VX
14     7 2014   1      904        -6     1201       -14         0      VX
15     8 2014   1      822        -3      925        -5         0      AA
16     8 2014   1     1549        19     2000        55         0      AA
17     9 2014   1      851        -9     1144       -26         0      AA
18     9 2014   1     1223        -7     1509       -21         0      AA
19    10 2014   1     1412        -5     1551       -15         0      EV
20    10 2014   1     1243        -7     1351       -21         0      EV
   tailnum flight origin dest air_time distance hour min
1   N338AA      1    JFK  LAX      359     2475    9  14
2   N335AA      3    JFK  LAX      363     2475   11  57
3   N783AA      1    JFK  LAX      358     2475    8  59
4   N784AA      3    JFK  LAX      358     2475   11  55
5   N784AA      1    JFK  LAX      375     2475    8  49
6   N787AA      3    JFK  LAX      368     2475   11  57
7   N514MQ   3486    LGA  BNA      113      764   18  12
8   N543MQ   3501    LGA  RDU       71      431   18  12
9   N3ELAA     45    JFK  LAS      288     2248   17  43
10  N789AA     59    JFK  SFO      330     2586    7  59
11  N787AA      1    JFK  LAX      324     2475    8  51
12  N795AA      3    JFK  LAX      329     2475   12  20
13  N361VA     11    JFK  SFO      343     2586    7  27
14  N836VA    161    EWR  LAX      320     2454    9   4
15  N3GDAA     84    JFK  BOS       40      187    8  22
16  N783AA     85    JFK  SFO      373     2586   15  49
17  N794AA      1    JFK  LAX      325     2475    8  51
18  N798AA      3    JFK  LAX      320     2475   12  23
19  N12567   4100    EWR  MEM      140      946   14  12
20  N13538   4104    EWR  BNA      109      748   12  43

### 合并分组后的每组数据（组内不再分多个变量）

In [21]:
DT[, .(val = c(a,b)), by=ID] #返回长度为12

   ID val
1   b   1
2   b   2
3   b   3
4   b   7
5   b   8
6   b   9
7   a   4
8   a   5
9   a  10
10  a  11
11  c   6
12  c  12

In [22]:
#把每组数据作为一列向量（横排
DT[, .(val = list(c(a,b))), by=ID] #返回长度为3（3个list

  ID              val
1  b 1, 2, 3, 7, 8, 9
2  a     4, 5, 10, 11
3  c            6, 12

## 总结

### 参数i
* 类似于data.frame，我们可以subset行，我们能将列当做变量来引用。 

* 我们可以使用order()排序。

### 参数j
* 以data.table的形式选取列：DT[, .(colA, colB)]。
* 以data.frame的形式选取列：DT[, c("colA", "colB"), with=FALSE]。
* 按列进行计算：DT[, .(sum(colA), mean(colB))]。
* 如果需要命名：DT[, .(sA =sum(colA), mB = mean(colB))]。
* 和i共同使用：DT[colA > value, sum(colB)]。

### 参数by
* 通过by，我们可以指定列，或者列名，甚至表达式，进行分组。
* by可以指定多个列，也可以指定表达式。
* 我们可以用 keyby，对分组的结果自动排序。
* 我们可以在参数j中指定 .SD 和 .SDcols，对复数的列进行操作。例如：   
  1.把函数fun 应用到所有 .SDcols指定的列上，同时对参数by指定的列进行分组：DT[, lapply(.SD, fun), by=., .SDcols=...]。 
  2.返回每组册前两行：DT[, head(.SD, 2), by=.]。
  3.三个参数联合使用：DT[col > val, head(.SD, 1), by=.]。